{% extends 'layout/default.html' %}
{% load custom_filters %}

{% block title %}
Ads
{% endblock title %}

{% block content %}
<h1>Все объявления</h1>
<p> Всего объявлений на портале: {{ posts|length }} </p>
    {% if posts %} 

    <form method="GET">
        {{ filter.form }}
        <input class="btn btn-primary" type="submit" value="Найти">
     </form>

        {% for post in filter.qs %}
        <h3> {{ post.title|censor }} </h3>
        <p> {{ post.dateCreation|date:'j M Y f' }} </p>
        <p> {{ post.text|truncatechars:50|censor }} </p>

        {% for category in post.postCategory.all %}
        <a href="{% url 'news:categories' category.id %}">{{category}}</a>
        {% endfor %}

        <a href="{% url 'news:post_update' post.id %}">
            Update
        </a>
        <a href="{% url 'news:post_delete' post.id %}">
            Delete
        </a>

        {% endfor %}

       

{% include 'parts/paginator.html' %}

    {% else %} 
        <h2>Объявления еще не созданы!</h2>
    {% endif %}

{% endblock content %}